streamlit
python-docx
pytesseract
easyocr
opencv-python
PyPDF2
pdfplumber
moviepy
ffmpeg-python
faster-whisper
SpeechRecognition
pydub
transformers
torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
sentencepiece
numpy
Pillow
